@import "tailwindcss";

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;
  --shadow-boxShadow: 4px 4px 0 #fff;
}

body {
  font-family: var(--font-outfit);
}
@utility grid_cols_auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
